{
    font-family: 'Nunito', sans-serif;
    padding: 0;
    margin: 0;
}

.header {
  height: 110vh; /* 100% dari tinggi viewport */
  width: 100%;
  background: url(ges/bg1.jpg) center/cover no-repeat;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

/*Tulisan Bergerak*/
.marquee {
  direction: top;
  font-size: 250%;  
  background-color: black;
  color: white;
}

/*Navigation menu with dropdown*/

.menu {
font-family: tahoma;
font-weight:bold;
height: 70px;
width: 100%;
background:rgb(219, 209, 212);
font-size:18px;
position: absolute;
}

.menu ul {
margin: 0px;
padding-bottom: 50px;
background:none;
display:block;
float:right;
}

.menu ul li {
list style:none;
display:inline-block;
}

.menu ul li a {
display:block;
text-decoration:none;
padding:20px;
color: black;
}

.menu ul li a:hover {
display:block;
color: black;
background-color: rgb(245, 220, 235);
}

.menu ul li .dropdown { 
    color: white;
    display:none;
}

.menu ul li:hover .dropdown {
display:block;
font-style: white;
position: absolute;
background-color: black;
padding:10px;
}

.menu ul li:hover .dropdown li { 
display:block;
}

.menu ul li:hover .dropdown li a {
padding:10px;
border-radius:5px;
margin-bottom:5px;
color:white
}

.menu ul li:hover .dropdown li a:hover { 
    background:rgb(245, 220, 235);
    color:black;
}

.navimage {
position:absolute;
height: auto; 
top: 5px;
Left: 550px;
width: 140px;
}

/*sidebar*/

  .menu-toggle {
    cursor: pointer;
    position: relative;
    top: 10px;
    left: 20px;
  }

.container {
    display: flex;
  }
  
  .sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: black;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 18px;
    color: white;
    display: block;
    transition: 0.3s;
  }
  
  .sidebar a:hover {
    color: #0e0d0d;
    background-color: rgb(245, 220, 235);
    transition: 0.5s;
  }
  
  .sidebar ul {
    list-style: none;
    padding: 0;
  }
  
  .toggle-btn {
    font-size: 35px;
    cursor: pointer;
    background-color: rgb(219, 209, 212);
    margin-bottom: 0px;
    position:absolute;
    padding: 10;
    float: left;
    z-index: 2;
    top: 10px;
    left: 20px;
    border: none;
  }

  .toggle-btn a:hover{
    color: rgb(245, 220, 235);
    background: none;
  }
  
  .content {
    flex-grow: 1;
    padding: 16px;
    transition: margin-left .5s;
  }


/*home/main body*/

.section {
    max-width: 800px;
    margin: 20px auto;
    background-color: rgba(138, 121, 121, 0.247);
}
.first {
max-width: 800px;
margin: 20px auto;
color: black;
text-align: justify;
font: 25px;
}

.h3{
text-align: center;
font-size: 40%;
}

.h2 {
  color: black;
  text-align: center;
}

 .p {
  color: black;
  text-align: justify;
}

.p3 {
  color:#333;
  text-align: justify;
  font-size: 20px;
}

  /*Website Artikel*/
  main {
    max-width: 900px;
    margin: 20px auto;
}

article {
    margin-bottom: 30px;
}

h2 {
    color: #333;
}

p {
    line-height: 1.6;
}

.read-more {
    display: block;
    margin-top: 10px;
    text-decoration: none;
    color: #1459a3;
}

.read-more:hover {
    text-decoration: underline;
}

/*About: Profil, Sejarah, Visi Misi, Tugas*/

sub {
  margin: 100px auto;
  padding-left: 200px;
  padding-right: 200px;
  padding-top: 25px;
  padding-bottom: 100px;
  display: block;
  font-size: 18px;
  
  h2 {
    text-align: center;
    font-size: 300px; }

  .p {
      color: black;
      text-align: justify;
      font-size: 60%;}
 }


 /*Gambar struktur organisasi & profil pimpinan*/

 main-image {
  margin-top: 30px;  
  width: 80%;
  margin: 100px auto;
  padding-left: 170px;
  display:block;
  object-position: center;
  
  h2 {
    text-align: center;
    font-size: 200px; }
 }
 
p {
  line-height: 2.5;
}


/*slideshow*/
* {box-sizing : border-box}
body {font-family: Verdana, sans-serif; margin:0}
.mySlides {display: none}
img {vertical-align: middle;}


.slideshow-container {
max-width: 1000px;
position: relative;
text-align: center;
justify-content: space-between;
padding: auto 20px;
margin: auto 20px;
}

.prev, .next {
cursor: pointer;
position: absolute;
top: 30%;
width: auto;
padding: 16px;
margin-top: -22px;
color: white;
font-weight: bold;
font-size: 18px;
transition: 0.6s ease;
border-radius: 0 3px 3px 0;
user-select: none;
}

.prev {
left: 20%;
border-radius: 3px 0 0 3px;
}

.next {
right: 20%;
border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
background-color: rgba(0,0,0,0.8);
}

.text {
color: #f2f2f2;
font-size: 15px;
padding: 8px 12px;
position: absolute;
bottom: 8px;
width: 100%;
text-align: center;
}

.images


.numbertext {
color: black;
font-size: 12px;
padding: 8px 12px;
position: absolute;
float: left;
top: 0;
}

.dot {
cursor: pointer;
height: 15px;
width: 15px;
margin: 0 2px;
background-color: #bbb;
border-radius: 50%;
display: inline-block;
transition: background-color 0.6s ease;
}

.active, .dot:hover {
background-color: #717171;
}

.fade {
animation-name: fade;
animation-duration: 1.5s;
}

@keyframes fade {
from {opacity: .4} 
to {opacity: 1}
}


/*Contact*/
#A {
  background-color: rgba(223, 197, 180, 0.781);
  color:black;
  font-style: bold;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 300px;
  margin-right: 300px;
  text-align: center;
  border-radius: 10px;
  border: 5px solid rgb(1, 1, 17); 
  margin-top: 100px;
  margin-bottom: 50px;
}

/*footer*/
footer {
    background-color: rgb(214, 199, 199);
    color: black;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: px;
  }